#!/bin/bash
#PBS -j oe
#PBS -N gfs_forecast
#PBS -A GFS-DEV
#PBS -q debug
#PBS -l place=vscatter,select=$NODES:ncpus=$NCPUS:mpiprocs=$NCPUS
#PBS -l walltime=00:30:00

set -eux

DATADIR=$DATADIR
NODES=$NODES
NCPUS=$NCPUS
NTHREADS=$NTHREADS

### D O  N O T  E D I T  B E L O W ###

cd \$DATADIR || exit 1

# Load run-time modules
set +x
module use \$DATADIR
module load modules.fv3gfs
module load cray-pals
module list
set -x

# Set run-time environment
export OMP_STACKSIZE=512M
export OMP_NUM_THREADS=\$NTHREADS
export OMP_PLACES=cores
export ESMF_RUNTIME_COMPLIANCECHECK=OFF:depth=4

NCORES=\$((NODES*NCPUS))

echo "Model started: \$(date)"
mpiexec -n $NCORES -ppn \$NCPUS -depth \$NTHREADS ./global_fv3gfs.x
echo "Model ended:   \$(date)"
